.container_menuTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 1rem;
    h1{
        color: #FFFFFF;
        font-size: 135px;
        font-family: "segoe UI";
    }
    hr{
        width: 100%;
        display: block;
    }
}
